@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.woff2) format("woff2"),
    url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.woff) format("woff"),
    url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.ttf) format("truetype"),
    url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.svg#GothamPro-Regular)
      format("svg");
}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.woff2) format("woff2"),
    url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.woff) format("woff"),
    url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.ttf) format("truetype"),
    url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.svg#GothamPro-Regular)
      format("svg");
}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.woff2) format("woff2"),
    url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.woff) format("woff"),
    url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.ttf) format("truetype"),
    url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.svg#GothamPro-Regular)
      format("svg");
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.woff2)
      format("woff2"),
    url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.woff)
      format("woff"),
    url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.ttf)
      format("truetype"),
    url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.svg#GothamPro-Regular)
      format("svg");
}
