.about-you {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  @include breakpoint($tablet-bp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include breakpoint($desktop-bp) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__wrapper {
    &-text {
      @include breakpoint($desktop-bp) {
        width: 61rem;
      }
    }

    &-img {
      display: none;

      @include breakpoint($desktop-bp) {
        display: block;
      }
    }
  }

  &__title {
    @extend %section-title;
    margin-bottom: 3rem;

    @include breakpoint($desktop-bp) {
      font-size: 4.8rem;
      line-height: 5.8rem;
      margin-bottom: 4rem;
    }
  }

  &__list {
    margin-bottom: 2.4rem;

    &-item {
      position: relative;
      @extend %section-text;
      color: $gray;
      list-style: none;
      padding-left: 3.6rem;

      &::before {
        position: absolute;
        top: 0.8rem;
        left: 0;
        display: block;
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        background-color: $orange;
      }

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }

      @include breakpoint($desktop-bp) {
        font-size: 1.8rem;
      }
    }
  }

  &__text {
    @extend %section-text;
    font-weight: 700;
    line-height: 2.6rem;
    color: $black;
    margin-bottom: 3rem;

    @include breakpoint($desktop-bp) {
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
  }
}
