.btn {
  padding: 1.6rem 4rem;
  font-family: $main-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;
  border: none;
  cursor: pointer;
  background-color: $orange;
  transition: background-color .2s linear;

  &-tablet {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: darken($orange, 5%);
  }

  @include breakpoint($tablet-bp){
    &-mobile {
      display: none;
    }

    &-tablet {
      display: inline-block;
      margin-right: 5rem;
    }
  }
}
