.company {
  padding-top: 7rem;
  padding-bottom: 3.5rem;

  @include breakpoint($tablet-bp) {
    padding-top: 8rem;
    padding-bottom: 9.4rem;
  }

  @include breakpoint($desktop-bp) {
    padding-top: 13rem;
    padding-bottom: 10.5rem;
  }

  &__wrapper {
    &-header {
      margin-bottom: 7rem;

      @include breakpoint($tablet-bp) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8rem;
      }
    }

    &-info {
      width: 31.7rem;
      @include breakpoint($desktop-bp) {
        width: 47rem;
      }
    }

    &-main {
      margin-bottom: 7rem;

      @include breakpoint($tablet-bp) {
        margin-bottom: 8rem;
      }

      @include breakpoint($desktop-bp) {
        margin-bottom: 13rem;
      }
    }

    &-footer {
      @include breakpoint($tablet-bp) {
        position: relative;
      }
    }
  }

  &__title {
    @extend %section-title;
    margin-bottom: 1.6rem;

    @include breakpoint($desktop-bp) {
      font-size: 4.8rem;
      line-height: 5.8rem;
      margin-bottom: 4rem;
    }
  }

  &__text {
    @extend %section-text;
    color: $gray;
    margin-bottom: 3rem;

    @include breakpoint($desktop-bp) {
      font-size: 1.8rem;
    }

    &-accent {
      @extend %section-text;
      font-weight: 700;
      color: $white;
      padding: 2rem 1.6rem;
      background: radial-gradient($gradient, $dark-navy);
      filter: drop-shadow(0.2rem 1rem 2rem rgba(0, 0, 0, 0.16));
      -webkit-filter: drop-shadow(0.2rem 1rem 2rem rgba(0, 0, 0, 0.16));

      @include breakpoint($tablet-bp) {
        position: absolute;
        width: 37.2rem;
        right: 0;
        bottom: -5.4rem;
        font-size: 1.8rem;
        padding: 4rem;
        font-weight: 700;

        &::before {
          position: inherit;
          top: 0;
          left: -4rem;
          display: block;
          content: "";
          width: 4rem;
          height: 100%;
          background: $orange;
          mix-blend-mode: multiply;
          opacity: 0.9;
          box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.16);
        }
      }
      @include breakpoint($desktop-bp) {
        width: 60rem;
        bottom: -5rem;
        padding: 6.5rem 9.5rem;
        font-weight: 500;
        line-height: 3.4rem;

        &::before {
          left: -6.2rem;
          width: 6.2rem;
        }
      }

      @include breakpoint($desktop-bp) {
        font-size: 2.4rem;
      }
    }
  }

  &__img {
    @extend %image;
    margin-bottom: 2.4rem;

    @include breakpoint($tablet-bp) {
      margin: 0;
    }
  }

  &__subtitle {
    width: 15.8rem;
    @extend %section-text;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.6rem 0.8rem;
    margin-bottom: 3rem;

    background-color: $black;
  }

  &__list {
    @include breakpoint($tablet-bp) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    list-style: none;
    padding: 2rem 2.4rem;
    border: 1px solid $border-color;

    &:nth-child(3) {
      background-color: $orange;

      h4,
      p {
        color: $white;
        hyphens: auto;
      }
    }

    &:nth-child(-n + 5) {
      margin-bottom: 2.4rem;
    }

    @include breakpoint($tablet-bp) {
      width: 31.9rem;
      margin-bottom: 0;

      &:nth-child(-n + 5) {
        margin-bottom: 0;
      }

      &:nth-child(-n + 4) {
        margin-bottom: 2.4rem;
      }
    }

    @include breakpoint($desktop-bp) {
      width: 37rem;
      padding: 2.4rem 3rem;

      &:nth-child(3) {
        p {
          hyphens: none;
        }
      }

      &:nth-child(-n + 4) {
        margin-bottom: 0;
      }
      &:nth-child(-n + 3) {
        margin-bottom: 3rem;
      }
    }

    &-title {
      @extend %section-title;
      margin-bottom: 0.4rem;

      @include breakpoint($desktop-bp) {
        font-size: 4.8rem;
        line-height: 4.8rem;
        margin-bottom: 1.2rem;
      }
    }

    &-text {
      @extend %section-text;
      color: $gray;

      @include breakpoint($desktop-bp) {
        font-size: 1.8rem;
      }
    }
  }
}
