.conditions {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  @include breakpoint($tablet-bp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include breakpoint($desktop-bp) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  &__title {
    @extend %section-title;
    margin-bottom: 3rem;

    @include breakpoint($desktop-bp) {
      font-size: 4.8rem;
      line-height: 5.8rem;
      margin-bottom: 4rem;
    }
  }

  &__list {
    margin-bottom: 7rem;

    @include breakpoint($tablet-bp) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 8rem;
    }

    @include breakpoint($desktop-bp) {
      flex-wrap: nowrap;
      margin-bottom: 4rem;
    }

    &-item {
      position: relative;
      @extend %section-text;
      color: $gray;
      list-style: none;
      padding-top: 2.8rem;
      background-color: $white;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        background-color: #ff6c00;
      }

      .text-bold {
        font-weight: 700;
        color: $black;
      }

      @include breakpoint($tablet-bp) {
        width: 32rem;

        .wrap {
          display: block;
        }
      }

      @include breakpoint($desktop-bp) {
        width: 27rem;

        .wrap {
          display: inline;
        }
      }
    }
  }

  &__footer {
    @include breakpoint($desktop-bp) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__form {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 7rem;
    text-align: center;
    background: radial-gradient($gradient, $dark-navy);

    @include breakpoint($tablet-bp) {
      margin-bottom: 8rem;
    }

    @include breakpoint($desktop-bp) {
      width: 57rem;
      padding: 10rem 7rem;
      margin-bottom: 0;
    }

    &-title {
      @extend %section-title;
      color: $white;
      margin-bottom: 1.6rem;

      @include breakpoint($desktop-bp) {
        font-size: 4.8rem;
        line-height: 5.8rem;
      }
    }

    &-text {
      @extend %section-text;
      color: $light-gray;
      margin-bottom: 3rem;

      @include breakpoint($desktop-bp) {
        font-size: 1.8rem;
        margin-bottom: 4rem;
      }
    }
  }

  &__subtitle {
    @extend %section-text;
    width: 22rem;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.6rem 0.8rem;
    margin-bottom: 3rem;
    background-color: #000000;

    @include breakpoint($tablet-bp) {
      margin-bottom: 2.2rem;
    }
  }

  &__text {
    @extend %section-text;
    color: $gray;

    @include breakpoint($desktop-bp) {
      font-size: 1.8rem;
    }

    &-wrap {
      display: block;
      margin-top: 1.6rem;

      @include breakpoint($tablet-bp) {
        margin-top: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $orange;
    cursor: pointer;
  }
}
