.footer {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  background-color: $raisin-black;

  &__list {
    @include breakpoint($tablet-bp) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include breakpoint($desktop-bp) {
      width: 61.5rem;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: $comet;

    transition: color .2s linear;

    @include breakpoint($desktop-bp) {
      &:hover,
      &:focus {
        color: darken($comet, 10%);
      }
    }
  }
}
