.principles {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  @include breakpoint($tablet-bp) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include breakpoint($desktop-bp) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  &__title {
    @extend %section-title;
    margin-bottom: 3rem;
  }

  &__list {

    @include breakpoint($tablet-bp) {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
    }

    &-item {
      position: relative;
      @extend %section-text;
      color: $gray;
      list-style: none;
      border: 1px solid $border-color;

      padding-top: 5.6rem;
      padding-right: 2.4rem;
      padding-bottom: 2rem;
      padding-left: 2.4rem;

      background-color: $white;

      &:first-child {
        color: $white;
        background-color: $orange;
        border: 1px solid $orange;
      }

      &:last-child {
        padding: 0;
        border: none;
      }

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }

      &::before {
        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
        display: block;
        content: "";
        width: 3.2rem;
        height: 3.2rem;
        background-repeat: no-repeat;
        background-size: contain;
      }

      @include breakpoint($tablet-bp) {
        width: 32rem;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        &:nth-child(-n+4) {
          margin-bottom: 2.4rem;
        }
      }

      @include breakpoint($desktop-bp) {
        width: 37rem;
        height: 28.8rem;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        &:nth-child(-n+3) {
          margin-bottom: 3rem;
        }
      }
    }
  }

  &__img {
    @extend %image;
    filter: grayscale(100%);
  }
}

@each $icons in people, changes, try, insights, task {
  .principles__list-item--#{$icons}::before {
    background-image: url(../images/icons/#{$icons}.svg);
  }
}
