@font-face {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.woff2) format("woff2"), url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.woff) format("woff"), url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.ttf) format("truetype"), url(../fonts/Acrom/Acrom-Regular/Acrom-Regular.svg#GothamPro-Regular) format("svg");
}

@font-face {
    font-family: 'Acrom';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.woff2) format("woff2"), url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.woff) format("woff"), url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.ttf) format("truetype"), url(../fonts/Acrom/Acrom-Bold/Acrom-Bold.svg#GothamPro-Regular) format("svg");
}

@font-face {
    font-family: 'Acrom';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.woff2) format("woff2"), url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.woff) format("woff"), url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.ttf) format("truetype"), url(../fonts/Acrom/Acrom-ExtraBold/Acrom-ExtraBold.svg#GothamPro-Regular) format("svg");
}

@font-face {
    font-family: 'GothamPro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.woff2) format("woff2"), url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.woff) format("woff"), url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.ttf) format("truetype"), url(../fonts/GothamPro/GothamPro-Regular/GothamPro-Regular.svg#GothamPro-Regular) format("svg");
}

/* BREAKPOINTS */
/* PLACEHOLDERS */
.company__title, .company__item-title, .about-you__title, .achievements__title, .implementations__title, .principles__title, .conditions__title, .conditions__form-title, .recommendations__title {
    font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.8rem;
    text-transform: uppercase;
    color: #000000;
}

.company__text, .company__text-accent, .company__subtitle, .company__item-text, .about-you__list-item, .about-you__text, .achievements__list-text, .implementations__list-text, .principles__list-item, .conditions__list-item, .conditions__form-text, .conditions__subtitle, .conditions__text, .recommendations__text {
    font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.company__img, .principles__img {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
  /* 1 */
    height: 0;
  /* 1 */
    overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
  /* 1 */
    text-decoration: underline;
  /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
  /* 1 */
    font-size: 100%;
  /* 1 */
    line-height: 1.15;
  /* 1 */
    margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
  /* 1 */
    color: inherit;
  /* 2 */
    display: table;
  /* 1 */
    max-width: 100%;
  /* 1 */
    padding: 0;
  /* 3 */
    white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
    outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
  /* 1 */
    font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ffffff;
    font-family: "Acrom", sans-serif;
    font-size: 2.1rem;
    color: #ffffff;
}

.orange {
    color: #ff6c00;
}

.orange-bgd {
    background-color: #ff6c00;
}

/* Blocks */
.page {
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .page::before {
        display: block;
        position: absolute;
        content: "hire you";
        top: 47.2rem;
        left: 5rem;
        width: 77.6rem;
        z-index: 2;
        font-family: "Acrom", sans-serif;
        font-weight: 800;
        font-size: 130px;
        line-height: 120px;
        text-transform: uppercase;
        color: #17ecff;
        opacity: 0.06;
    }
}

@media screen and (min-width: 1200px) {
    .page::before {
        content: "we hire you";
        top: 40.2rem;
        left: 21.5rem;
        width: 145.5rem;
        font-size: 180px;
        line-height: 216px;
        opacity: 0.1;
    }
}

.container {
    max-width: 280px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 668px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.btn {
    padding: 1.6rem 4rem;
    font-family: "Acrom", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background-color: #ff6c00;
    transition: background-color .2s linear;
}

.btn-tablet {
    display: none;
}

.btn:hover, .btn:focus {
    background-color: #e66100;
}

@media screen and (min-width: 768px) {
    .btn-mobile {
        display: none;
    }

    .btn-tablet {
        display: inline-block;
        margin-right: 5rem;
    }
}

.header {
    width: 100%;
    padding-top: 13rem;
    padding-bottom: 8rem;
    background: radial-gradient(#0a2038, #181c27);
}

@media screen and (min-width: 768px) {
    .header {
        position: relative;
        padding-top: 18.8rem;
        padding-bottom: 29.4rem;
    }

    .header::before {
        position: absolute;
        display: block;
        content: "";
        width: 25.3rem;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(36.8deg, #d1cfcf 0%, #f6f5f5 100%);
    }

    .header::after {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 50.9rem;
        height: 48.8rem;
        content: "";
        background-image: url(../images/header/goit-girl-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: drop-shadow(10px 60px 60px rgba(0, 0, 0, 0.12));
        filter: drop-shadow(10px 60px 60px rgba(0, 0, 0, 0.12));
        z-index: 3;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        position: relative;
        padding-top: 20.4rem;
        padding-bottom: 31rem;
    }

    .header::before {
        width: 51.5rem;
        height: 100%;
    }

    .header::after {
        right: 21.5rem;
        width: 50.9rem;
        height: 56.2rem;
        background-image: url(../images/header/goit-girl-desktop.png);
    }
}

.header__nav {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
    .header__nav {
        height: 9rem;
        line-height: 9rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__nav .container {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }
}

.header__link {
    vertical-align: middle;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.header__logo {
    display: inline-block;
}

.header__text-block {
    margin-bottom: 8rem;
}

@media screen and (min-width: 768px) {
    .header__text-block {
        position: relative;
        width: 45.2rem;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .header__text-block {
        width: 74.1rem;
    }
}

.header__title {
    font-family: "Acrom", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .header__title {
        font-size: 36px;
        line-height: 54px;
        margin: 0;
        margin-bottom: 2.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .header__title {
        font-size: 54px;
        line-height: 64px;
    }
}

.header__title-cyan {
    color: #17ecff;
}

.header__text {
    font-family: "Acrom", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #afb0b3;
}

.header__text-cyan {
    color: #17ecff;
}

@media screen and (min-width: 768px) {
    .header__text {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .header__text {
        font-size: 20px;
        line-height: 24px;
    }
}

.company {
    padding-top: 7rem;
    padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
    .company {
        padding-top: 8rem;
        padding-bottom: 9.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .company {
        padding-top: 13rem;
        padding-bottom: 10.5rem;
    }
}

.company__wrapper-header {
    margin-bottom: 7rem;
}

@media screen and (min-width: 768px) {
    .company__wrapper-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 8rem;
    }
}

.company__wrapper-info {
    width: 31.7rem;
}

@media screen and (min-width: 1200px) {
    .company__wrapper-info {
        width: 47rem;
    }
}

.company__wrapper-main {
    margin-bottom: 7rem;
}

@media screen and (min-width: 768px) {
    .company__wrapper-main {
        margin-bottom: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .company__wrapper-main {
        margin-bottom: 13rem;
    }
}

@media screen and (min-width: 768px) {
    .company__wrapper-footer {
        position: relative;
    }
}

.company__title {
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 1200px) {
    .company__title {
        font-size: 4.8rem;
        line-height: 5.8rem;
        margin-bottom: 4rem;
    }
}

.company__text {
    color: #6b6f7a;
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    .company__text {
        font-size: 1.8rem;
    }
}

.company__text-accent {
    font-weight: 700;
    color: #ffffff;
    padding: 2rem 1.6rem;
    background: radial-gradient(#0a2038, #181c27);
    filter: drop-shadow(0.2rem 1rem 2rem rgba(0, 0, 0, 0.16));
    -webkit-filter: drop-shadow(0.2rem 1rem 2rem rgba(0, 0, 0, 0.16));
}

@media screen and (min-width: 768px) {
    .company__text-accent {
        position: absolute;
        width: 37.2rem;
        right: 0;
        bottom: -5.4rem;
        font-size: 1.8rem;
        padding: 4rem;
        font-weight: 700;
    }

    .company__text-accent::before {
        position: inherit;
        top: 0;
        left: -4rem;
        display: block;
        content: "";
        width: 4rem;
        height: 100%;
        background: #ff6c00;
        mix-blend-mode: multiply;
        opacity: 0.9;
        box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.16);
    }
}

@media screen and (min-width: 1200px) {
    .company__text-accent {
        width: 60rem;
        bottom: -5rem;
        padding: 6.5rem 9.5rem;
        font-weight: 500;
        line-height: 3.4rem;
    }

    .company__text-accent::before {
        left: -6.2rem;
        width: 6.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .company__text-accent {
        font-size: 2.4rem;
    }
}

.company__img {
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
    .company__img {
        margin: 0;
    }
}

.company__subtitle {
    width: 15.8rem;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.6rem 0.8rem;
    margin-bottom: 3rem;
    background-color: #000000;
}

@media screen and (min-width: 768px) {
    .company__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.company__item {
    list-style: none;
    padding: 2rem 2.4rem;
    border: 1px solid #e8e8e8;
}

.company__item:nth-child(3) {
    background-color: #ff6c00;
}

.company__item:nth-child(3) h4,
      .company__item:nth-child(3) p {
    color: #ffffff;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.company__item:nth-child(-n + 5) {
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
    .company__item {
        width: 31.9rem;
        margin-bottom: 0;
    }

    .company__item:nth-child(-n + 5) {
        margin-bottom: 0;
    }

    .company__item:nth-child(-n + 4) {
        margin-bottom: 2.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .company__item {
        width: 37rem;
        padding: 2.4rem 3rem;
    }

    .company__item:nth-child(3) p {
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    .company__item:nth-child(-n + 4) {
        margin-bottom: 0;
    }

    .company__item:nth-child(-n + 3) {
        margin-bottom: 3rem;
    }
}

.company__item-title {
    margin-bottom: 0.4rem;
}

@media screen and (min-width: 1200px) {
    .company__item-title {
        font-size: 4.8rem;
        line-height: 4.8rem;
        margin-bottom: 1.2rem;
    }
}

.company__item-text {
    color: #6b6f7a;
}

@media screen and (min-width: 1200px) {
    .company__item-text {
        font-size: 1.8rem;
    }
}

.about-you {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
    .about-you {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .about-you {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }

    .about-you .container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    .about-you__wrapper-text {
        width: 61rem;
    }
}

.about-you__wrapper-img {
    display: none;
}

@media screen and (min-width: 1200px) {
    .about-you__wrapper-img {
        display: block;
    }
}

.about-you__title {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    .about-you__title {
        font-size: 4.8rem;
        line-height: 5.8rem;
        margin-bottom: 4rem;
    }
}

.about-you__list {
    margin-bottom: 2.4rem;
}

.about-you__list-item {
    position: relative;
    color: #6b6f7a;
    list-style: none;
    padding-left: 3.6rem;
}

.about-you__list-item::before {
    position: absolute;
    top: 0.8rem;
    left: 0;
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ff6c00;
}

.about-you__list-item:not(:last-child) {
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 1200px) {
    .about-you__list-item {
        font-size: 1.8rem;
    }
}

.about-you__text {
    font-weight: 700;
    line-height: 2.6rem;
    color: #000000;
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    .about-you__text {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
}

.achievements {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
    .achievements {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .achievements .container {
        width: 43.6rem;
    }
}

@media screen and (min-width: 1200px) {
    .achievements {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }

    .achievements .container {
        width: 100%;
    }
}

.achievements__title {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    .achievements__title {
        width: 67rem;
        font-size: 4.8rem;
        line-height: 5.8rem;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .achievements__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

.achievements__list-item {
    position: relative;
    list-style: none;
    border: 1px solid #e8e8e8;
}

.achievements__list-item::before {
    position: absolute;
    top: 2.8rem;
    left: 2.4rem;
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ff6c00;
}

.achievements__list-item:nth-child(-n+3) {
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 1200px) {
    .achievements__list-item {
        width: 57rem;
        height: 16.5rem;
    }

    .achievements__list-item:nth-child(-n+3) {
        margin-bottom: 0;
    }

    .achievements__list-item:nth-child(-n+2) {
        margin-bottom: 3rem;
    }
}

.achievements__list-text {
    color: #6b6f7a;
    padding-top: 2rem;
    padding-right: 2.4rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
}

@media screen and (min-width: 1200px) {
    .achievements__list-text {
        font-size: 1.8rem;
        padding-top: 2.5rem;
        padding-right: 2.8rem;
        padding-left: 6.8rem;
    }
}

.implementations {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
    .implementations {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .implementations {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}

.implementations__title {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    .implementations__title {
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
}

@media screen and (min-width: 768px) {
    .implementations__list {
        padding: 3rem 2.4rem;
        background-color: #f6f5f5;
    }
}

@media screen and (min-width: 1200px) {
    .implementations__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: stretch;
        align-items: stretch;
        padding: 0;
        background-color: transparent;
    }
}

.implementations__list-item {
    list-style: none;
}

@media screen and (min-width: 768px) {
    .implementations__list-item {
        background-color: #f6f5f5;
    }

    .implementations__list-item:not(:last-child) {
        margin-bottom: 2.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .implementations__list-item {
        width: 57rem;
        padding: 4.6rem 3.8rem;
    }

    .implementations__list-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.implementations__list-text {
    position: relative;
    color: #6b6f7a;
    padding-top: 2rem;
    padding-right: 1.6rem;
    padding-bottom: 2rem;
    padding-left: 4.8rem;
    background-color: #f6f5f5;
}

.implementations__list-text::before {
    position: absolute;
    top: 2.8rem;
    left: 2.4rem;
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 768px) {
    .implementations__list-text::before {
        top: 0.6rem;
        left: 0.6rem;
    }
}

.implementations__list-text:not(:last-child) {
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
    .implementations__list-text {
        font-size: 1.8rem;
        padding: 0;
        padding-left: 4.2rem;
        background-color: transparent;
    }
}

@media screen and (min-width: 1200px) {
    .implementations__list-text {
        padding-left: 4.2rem;
    }
}

.principles {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
    .principles {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .principles {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}

.principles__title {
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .principles__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.principles__list-item {
    position: relative;
    color: #6b6f7a;
    list-style: none;
    border: 1px solid #e8e8e8;
    padding-top: 5.6rem;
    padding-right: 2.4rem;
    padding-bottom: 2rem;
    padding-left: 2.4rem;
    background-color: #ffffff;
}

.principles__list-item:first-child {
    color: #ffffff;
    background-color: #ff6c00;
    border: 1px solid #ff6c00;
}

.principles__list-item:last-child {
    padding: 0;
    border: none;
}

.principles__list-item:not(:last-child) {
    margin-bottom: 2.4rem;
}

.principles__list-item::before {
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    display: block;
    content: "";
    width: 3.2rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 768px) {
    .principles__list-item {
        width: 32rem;
    }

    .principles__list-item:not(:last-child) {
        margin-bottom: 0;
    }

    .principles__list-item:nth-child(-n+4) {
        margin-bottom: 2.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .principles__list-item {
        width: 37rem;
        height: 28.8rem;
    }

    .principles__list-item:not(:last-child) {
        margin-bottom: 0;
    }

    .principles__list-item:nth-child(-n+3) {
        margin-bottom: 3rem;
    }
}

.principles__img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.principles__list-item--people::before {
    background-image: url(../images/icons/people.svg);
}

.principles__list-item--changes::before {
    background-image: url(../images/icons/changes.svg);
}

.principles__list-item--try::before {
    background-image: url(../images/icons/try.svg);
}

.principles__list-item--insights::before {
    background-image: url(../images/icons/insights.svg);
}

.principles__list-item--task::before {
    background-image: url(../images/icons/task.svg);
}

.conditions {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
    .conditions {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .conditions {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}

.conditions__title {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    .conditions__title {
        font-size: 4.8rem;
        line-height: 5.8rem;
        margin-bottom: 4rem;
    }
}

.conditions__list {
    margin-bottom: 7rem;
}

@media screen and (min-width: 768px) {
    .conditions__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .conditions__list {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 4rem;
    }
}

.conditions__list-item {
    position: relative;
    color: #6b6f7a;
    list-style: none;
    padding-top: 2.8rem;
    background-color: #ffffff;
}

.conditions__list-item:not(:last-child) {
    margin-bottom: 3rem;
}

.conditions__list-item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ff6c00;
}

.conditions__list-item .text-bold {
    font-weight: 700;
    color: #000000;
}

@media screen and (min-width: 768px) {
    .conditions__list-item {
        width: 32rem;
    }

    .conditions__list-item .wrap {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .conditions__list-item {
        width: 27rem;
    }

    .conditions__list-item .wrap {
        display: inline;
    }
}

@media screen and (min-width: 1200px) {
    .conditions__footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }
}

.conditions__form {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 7rem;
    text-align: center;
    background: radial-gradient(#0a2038, #181c27);
}

@media screen and (min-width: 768px) {
    .conditions__form {
        margin-bottom: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .conditions__form {
        width: 57rem;
        padding: 10rem 7rem;
        margin-bottom: 0;
    }
}

.conditions__form-title {
    color: #ffffff;
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 1200px) {
    .conditions__form-title {
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
}

.conditions__form-text {
    color: #afb0b3;
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    .conditions__form-text {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
}

.conditions__subtitle {
    width: 22rem;
    font-weight: 700;
    line-height: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.6rem 0.8rem;
    margin-bottom: 3rem;
    background-color: #000000;
}

@media screen and (min-width: 768px) {
    .conditions__subtitle {
        margin-bottom: 2.2rem;
    }
}

.conditions__text {
    color: #6b6f7a;
}

@media screen and (min-width: 1200px) {
    .conditions__text {
        font-size: 1.8rem;
    }
}

.conditions__text-wrap {
    display: block;
    margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
    .conditions__text-wrap {
        margin-top: 0;
    }
}

.conditions__link {
    text-decoration: none;
    color: #ff6c00;
    cursor: pointer;
}

.recommendations {
    padding-top: 3.5rem;
    padding-bottom: 7rem;
}

@media screen and (min-width: 768px) {
    .recommendations {
        padding-top: 4rem;
        padding-bottom: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .recommendations {
        padding-top: 7.5rem;
        padding-bottom: 13rem;
    }
}

.recommendations .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #f6f5f5;
}

@media screen and (min-width: 768px) {
    .recommendations .container {
        padding: 8rem 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .recommendations .container {
        padding: 10rem 7rem;
    }
}

.recommendations__title {
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 1200px) {
    .recommendations__title {
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
}

.recommendations__text {
    color: #6b6f7a;
    margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .recommendations__text {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .recommendations__text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 4rem;
    }
}

.recommendations__text-indent {
    display: block;
    margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
    .recommendations__text-indent {
        display: inline;
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .recommendations__text-indent {
        display: block;
    }
}

.recommendations__btn {
    display: inline-block;
    width: 23.2rem;
    line-height: 2.2rem;
    padding: 1.6rem 2.9rem;
}

@media screen and (min-width: 768px) {
    .recommendations__btn {
        width: 31.3rem;
        padding: 1.6rem 3.8rem;
    }
}

.contacts {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #181c27;
}

@media screen and (min-width: 768px) {
    .contacts .container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 56rem;
    }
}

@media screen and (min-width: 1200px) {
    .contacts .container {
        width: 100%;
    }
}

.contacts__nav {
    margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .contacts__nav {
        margin: 0;
    }
}

.contacts__mail-title {
    font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    color: #afb0b3;
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 1200px) {
    .contacts__mail-title {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 0.8rem;
    }
}

.contacts__mail-link {
    display: block;
    font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #afb0b3;
    margin-bottom: 4rem;
    transition: color .2s linear;
}

@media screen and (min-width: 768px) {
    .contacts__mail-link {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .contacts__mail-link:hover, .contacts__mail-link:focus {
        color: #95969a;
    }
}

.contacts-social__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (min-width: 768px) {
    .contacts-social__list {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .contacts-social__list {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        width: 56.6rem;
    }
}

.contacts-social__list-item {
    font-family: "Acrom", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    list-style: none;
}

.contacts-social__list-item:nth-child(-n + 3) {
    margin-right: 3.2rem;
}

.contacts-social__list-item:nth-child(-n + 2) {
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
    .contacts-social__list-item:nth-child(-n + 3) {
        margin-right: 0;
        margin-bottom: 1.8rem;
    }
}

@media screen and (min-width: 1200px) {
    .contacts-social__list-item {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .contacts-social__list-item:nth-child(n) {
        margin-bottom: 0;
    }
}

.contacts-social__list-link {
    text-decoration: none;
    color: #ffffff;
    transition: color .2s linear;
}

@media screen and (min-width: 1200px) {
    .contacts-social__list-link:hover, .contacts-social__list-link:focus {
        color: #ff6c00;
    }
}

.footer {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: #202020;
}

@media screen and (min-width: 768px) {
    .footer__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer__list {
        width: 61.5rem;
    }
}

.footer__item {
    list-style: none;
}

.footer__link {
    font-family: "GothamPro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #65666a;
    transition: color .2s linear;
}

@media screen and (min-width: 1200px) {
    .footer__link:hover, .footer__link:focus {
        color: #4c4d50;
    }
}
