<header class="header">
  <div class="container">
    <nav class="header__nav">
      <div class="container">
      <a class="header__link" href="#">
        <img
          class="header__logo"
          src="assets/images/goit-logo.svg"
          width="100"
          height="30"
          alt="logo"
        />
      </a>
      <button class="btn btn-tablet" type="button">отправить резюме</button>
      </div>
    </nav>
    <div class="header__text-block">
      <h1 class="header__title">
        &#91; Ищем амбициозного
        <span class="header__title-cyan">Country Manager</span>_ &#93;
      </h1>
      <p class="header__text">
        <span class="header__text-cyan">//</span> Готового к новым вызовам...
      </p>
    </div>
    <button class="btn btn-mobile" type="button">отправить резюме</button>
  </div>
</header>
